<html>
<head>
  <title>你是我的</title>
</head>
<link href="css/csstest.css" rel="stylesheet"/>
<body background="http://img.aiimg.com/uploads/userup/1204/0G109124X6.jpg" width="100%" height="100%" >

<p text-align="center">莹莹！ 生日快乐 ！！！ .........</p>
<!--<embed src="http://file.ws.126.net/liveshow/gift/gift_41_42.swf" width="50%" height="50%" />-->
<p>



    <embed style="RIGHT: 10px; POSITION: absolute; TOP: 10px"
           align="center" src="gift4.swf"
           width="1024" height="580"
           type="application/x-shockwave-flash"
    />
</p>
<input type="button" value="莹莹是谁？" onclick="f1()" />

<a href="/life" ></a>
<a href="/4" ></a>
<a href="/15" ></a>
<a href="/30" ></a>
<a href="/41" ></a>

</body>
<script type="text/javascript">
    function f1(){
        alert("她就是人类美学奇迹啊！！！");
    }


</script>
</html>